@page "/"
@using LemonadeStand.Domain
@using LemonadeStand.Application.Interfaces
@using LemonadeStand.Application
@inject IFruitPressService FruitPressService
@inject IRecipeService RecipeService
@* @inject IFruit Fruit *@

<EditForm Model="@orderModel" OnValidSubmit="HandleFormSubmission" FormName="JuiceOrder">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="RecipeName" > Recipe </label>
        <select  @bind ="orderModel.RecipeName"  class="form-select">
            <option value="1">Select a recipe</option>
            @foreach (var recipe in recipes)
            {
                <option value="@recipe.Name">@recipe.Name</option>
            }
        </select>

    </div>


    <button type="submit" class="btn btn-primary">Submit Order</button>

</EditForm>


@code{

    OrderModel orderModel = new();
    List<Recipe> recipes = new();
    // SubmissionResult submissionResult;
    string recipeName;

   protected override void OnInitialized()
    {
        recipes = RecipeService.GetRecipes();
        Console.WriteLine($"Recipes loaded: {recipes.Count}");
    }

    public void HandleFormSubmission(EditContext context) 
    {
       if (context.Model == orderModel)
        {
            Console.WriteLine("Submitting form...");
            Console.WriteLine($"Recipe Name: {orderModel.RecipeName}");
            if (string.IsNullOrEmpty(orderModel.RecipeName))
            {
                Console.WriteLine("Recipe Name is null or empty.");
            }
        }

       
    }
}
